In [ ]:
import pandas as pd
import matplotlib

df = pd.read_csv("time_data.csv", parse_dates=["Date"], index_col="Date")

df.head(5)

C:\Users\bhanu\AppData\Local\Temp\ipykernel_25860\4178000103.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv("time_data.csv", parse_dates=["Date"], index_col="Date")

              Open    High     Low   Close         Volume
Date
2025-11-01  270.42  280.38  265.32  277.55    857,442,604
2025-10-01  255.04  277.32  244.00  270.37  1,097,142,356
2025-09-01  229.25  257.60  225.95  254.63  1,265,536,448
2025-08-01  210.87  235.12  201.50  232.14  1,218,125,297
2025-07-01  206.67  216.23  206.14  207.57  1,079,935,850

In [12]:
df.index

DatetimeIndex(['2025-11-01', '2025-10-01', '2025-09-01', '2025-08-01',
               '2025-07-01', '2025-06-01', '2025-05-01', '2025-04-01',
               '2025-03-01', '2025-02-01', '2025-01-01', '2024-12-01',
               '2024-11-01'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [44]:
df = df.sort_index()
df.loc["2025-01-01" : "2025-06-06"].Close.mean()

np.float64(219.74833333333333)