In [ ]:
import pandas as pd

In [12]:
import pandas as pd

d = {
    "one" : pd.Series([1.0,2.0,3.0], index = ["a", "b", "c"]),
    "two" : pd.Series([1.0,2.0,3.0,4.0], index = ["a", "b", "c", "d"]),
}

df = pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])

df

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [32]:
df = pd.read_csv("StudentsPerformance.csv")
filtered_data = df[["gender", "test preparation course"]]

math_pass = df[(df["math score"]>35) and (df["gender"] == "female")]
f_math_pass =  math_pass[math_pass["gender"] == "female"]

math_pass

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [53]:
df = pd.read_csv("StudentsPerformance.csv")

df["Math Result"] = df ["math score"].apply(lambda x: 'Pass' if x > 35 else 'Fail')

math_pass = df[df["Math Result"] == "Pass"]

math_pass.sort_values(by="math score", ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Math Result
916,male,group E,bachelor's degree,standard,completed,100,100,100,Pass
458,female,group E,bachelor's degree,standard,none,100,100,100,Pass
149,male,group E,associate's degree,free/reduced,completed,100,100,93,Pass
451,female,group E,some college,standard,none,100,92,97,Pass
625,male,group D,some college,standard,completed,100,97,99,Pass
...,...,...,...,...,...,...,...,...,...
741,female,group A,associate's degree,free/reduced,none,37,57,56,Pass
284,female,group B,some high school,standard,none,37,46,46,Pass
455,male,group C,bachelor's degree,free/reduced,none,37,56,47,Pass
527,female,group C,high school,free/reduced,none,36,53,43,Pass
896,male,group B,high school,free/reduced,none,36,29,27,Pass