In [1]:
print("bhanu")

bhanu

In [2]:
def student(name, age, city):
    print("HI I am : ", name)
    print("My age is: ", age)
    print("I am from: ", city)

student("bhanu", 33, "oslo")
student(33, "city", "bhanu")

HI I am :  bhanu
My age is:  33
I am from:  oslo
HI I am :  33
My age is:  city
I am from:  bhanu

Global and local variables in python
local -creates inside a function
global - creates/declared outside of the function 
examples below

In [ ]:
msg = "My name is Bhanu prakash" #global variable
def greet():
    print("inside: ", msg)
greet()

print("outside :", msg)

inside:  My name is Bhanu prakash
outside : My name is Bhanu prakash

#recursion
is a technique where a function calls itselfs directly or indirectly - uesful in programs that can  be divided into small tasks

# *args, **kwargs 

are used to allow functions to accept a arbitrary number of arguments. These fetaures  provides  great flexibility

In [13]:
def fun(*args):
    return max(args)
print(fun(20,5))

20

**kwargs example - it collects keyword arguments into a dictionary

In [15]:
def fun(**kwargs):
    for k, val in kwargs.items():
        print(k, val)

fun(a=1, b=4, c=6)

a 1
b 4
c 6

#lambda functions - are anonymous functions means, functions without a name. 
def - used ri define a normal function in python. 
lambda - used to define an anonymous functions 
syntax : lambda arguments:expression

In [18]:
s1 = "bhanuprakash"
s2 = lambda func:func.upper()

print(s2(s1))

BHANUPRAKASH

In [19]:
n = lambda x: "Positive" if x > 0 else "negative" if x < 0 else "zero"
print(n(5))

Positive

#map() - takes in a function and list as an argument. The functioin is called with a lambda function and a  new list is returned which contains all the lambda-modified items returned by that function for each item.

In [22]:
a = [1,2,3,4]
b = map(lambda x: x*2, a)

print(list(b))

[2, 4, 6, 8]

#reduce()

reduce function from functools applies a  function cumulatively to an iterable, reducing it into a single value. 

-functools - offersa colletcion of tools that simplify working with functions and callable objects. it includes uilities to modify, extend, or optimize fnctions without re writing the core logic.

In [26]:
from functools import reduce
def add(x, y):
    return x+y

a = [1,2,3,4,5]
res = reduce(add, a)

print(res)

15

In [29]:
a = [1, 2,3,4,5]
res = reduce(lambda x,y : x*y, a, 10)
print(res)

1200

In [31]:
import functools
import operator

a = [1,2,3,4,5]
print(functools.reduce(operator.add, a))

15

#filter function 

-used to extract elements from an iterable (like a list or tuple or set) that satisfies a condition

syntax: filter(function, iterable)

In [39]:
a = [1,2,3,4,5,6,7,8,9]
b = filter(lambda x: x%2 ==0, a)

c = map(lambda x: x*2, b)

print(list(c))

[4, 8, 12, 16]

#Strings

In [43]:
s = "bhanu"
print(s)

a = 'bhanu'
print(a)

b = """bhanu is learning 
python"""
print(b)

bhanu
bhanu
bhanu is learning
python

In [48]:
a = "bhanuislearningpython"

print(len(a))
print(a[::-1])

21
nohtypgninraelsiunahb

In [49]:
#string iteration

a = "bhanu"
for x in a:
    print(x)

b
h
a
n
u

In [50]:
a = "bhanuislearningpython"

s = "Naidu" + a[5:]

print(a)
print(s)

bhanuislearningpython
Naiduislearningpython

In [53]:
a = "bhanu prakash"

b = a.replace("bhanu", "uday")

print(b.upper())

print(b.strip())

UDAY PRAKASH
uday prakash

#formatting strings

In [54]:
name = "bhanu"
age = 34

print(f"Name: {name}, Age: {age}")

Name: bhanu, Age: 34

In [56]:
s = "My name is {} and my age is {}".format("bhanu", 34)

print("bhanu" in s)

True

#lists
- can contain duplicate items
- maintains the order in which items are added 
- items can be modified, replaced, or removed 
-can store mixed data types 
- items are accessed using their position

In [68]:
#using list() constructor

a = list("bhanu")
b = a *5
print(a)
print(a[3:])

print(c)

['b', 'h', 'a', 'n', 'u']
['n', 'u']
None

#tuples
- is an immutable ordered for collections 
-similar to lists but unlike lists they cannot be changed after their creation 
- can hold element of data types

In [70]:
tup = ("bhanu", "prakash")

print(tup)

('bhanu', 'prakash')

In [73]:
li = [1, 2,3,4,5]

n = "bhanu"

print(tuple(n))

('b', 'h', 'a', 'n', 'u')

In [74]:
x = (1, 2, 3,4)
y = ("bhanu", "prakash")

z = (x + y)

print(z)

(1, 2, 3, 4, 'bhanu', 'prakash')

In [75]:
x = ("bhanu")

for y in x:
    print(y)

b
h
a
n
u

#dictionaries 

- is a data structure thats stores the value in key value pairs

In [83]:
d1 = {1:"bhanu", 2:"prakash"}
print(d1)

#using dict constructor 

d2 = dict(a ="bhanu", b ="mouni")
d2 ["c" ] = "prakash"
del d2["a"]
print(d2)
print(d2["a"])

{1: 'bhanu', 2: 'prakash'}
{'b': 'mouni', 'c': 'prakash'}

KeyError: 'a'